@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    box-sizing: border-box;
    background-color: black;
    color: #F6F6F6;
}

.cabecalho {
    padding: 2% 0 0 10%;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: #22D4FD;
}

.apresentacao {
    padding: 5% 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apresentacao__conteudo {
    width: 615px;
    height: 482px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo {
    font-size: 36px;
    font-family: "Krona One", sans-serif;
}

.titulo-destaque {
    color: #22D4FD;
}

.apresentacao__conteudo__paragrafo {
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
}

.apresentacao__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.apresentacao__links__subtitulo {
    font-family: "Krona One", sans-serif;
    font-weight: 400;
    font-size: 24px;
}

.apresentacao__links__link {
    display: flex;
    justify-content: center;
    gap: 16px;
    align-items: center;
    border: 2px solid #22D4FD;
    width: 378px;
    text-align: center;
    border-radius: 8px;
    font-size: 24px;
    padding: 21.5px 0;
    text-decoration: none;
    color: #F6F6F6;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
}

.apresentacao__links__link:hover {
    background-color: #272727;
}

footer {
    background-color: #22D4FD;
    color: black;
    text-align: center;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    margin: 20% 0 0 0;
    padding: 15px;
}

.curriculo {
    padding: 5% 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.curriculo__conteudo {
    width: 615px;
    height: 482px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.curriculo__conteudo__titulo {
    font-size: 36px;
    font-family: "Krona One", sans-serif;
}

.curriculo__conteudo__subtitulo {
    font-size: 36px;
    font-family: "Krona One", sans-serif;
}

.curriculo__conteudo__estudos__link {
    color: white;
}

.curriculo__conteudo__estudos__link:hover {
    color: #22D4FD;
}

.curriculo__conteudo__paragrafo {
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
}

.destaque {
    color: #22D4FD;
}

.curriculo__lista {
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
}

.curriculo__cursos__lista__link {
    color: white;
}

.curriculo__cursos__lista__link:hover {
    color: #22D4FD;
}